 body { 
    background-color: white;
    font-family: monospace;
/*    font-size: 15px;*/
}
.category{ /* specifies the styling for all elements with the "category" class*/
        color: darkcyan;   
}

.artpic{
    float:right;
    padding-right:25%;
    position:relative; 
}
.artwork{
    position:relative; 
    left:10%; 
    width:90%; 
}

.portraitpic{
    float:right;
    padding-right:39%;
    position:relative; 
}

.landscapepic{
    float:right;
    padding-right:33%;
    position:relative; 
}
.evelink{
    color: red;
}
.outsidelink{
    color:lightgreen;
}